.section-box {
    height: 400px;
    max-height: 60vh;
}
.btn, .form-control {
    height: 45px;
}
.btn {
    background-color: #2B3542;
    color: #E8EEF1;
}
.footer-box {
    background-color: #3C6A87;
    color: #E8EEF1;
}
#header {
    background-color: #3C6A87;
    color: #FFFFFF;
}